.body {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.field {
    background: rgb(20, 149, 133);
    background: linear-gradient(180deg, rgba(20, 149, 133, 1) 0%, rgba(0, 107, 95, 1) 100%);
    width: 980px;
    height: 630px;
    display: grid;
    position: relative;
}

.furniture {
    width: 100%;
    height: 605px;
}

.way img {
    position: absolute;
    top: 21px;
    left: 78px;
}

.hero {
    position: absolute;
    z-index: 5;
    transition: all 1s ease-in-out;
}

.point {
    position: absolute;
    box-sizing: border-box;
    width: 16px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
    box-shadow:
        1px 1px 2px 1px rgba(255, 255, 255, 0.3) inset,
        -1px -1px 2px 1px rgba(0, 0, 0, .6) inset,
        1px 1px 2px 1px rgba(255, 255, 255, 0.3);
    transition: .9s ease;

}

.point:hover {
    transform: scaleY(1.1);
    transition: .9s ease;
}

.point--start {
    width: 21px;
    height: 12px;
}

.point--regular {
    background-color: #4b4b4a;
}

.point--active {
    background-color: #ffff00;
}

.point--finish {
    background-color: #137488;
    width: 21px;
    height: 12px;
    box-shadow:
        1px 1px 2px 1px rgba(255, 255, 255, 0.3) inset,
        -1px -1px 2px 1px rgba(0, 0, 0, .6) inset,
        1px 1px 2px 1px rgba(255, 255, 255, 0.3),
        1px 1px 5px 1px rgba(255, 255, 255, 1)
}

.point--checkpoint {
    outline: 3px solid red;
    outline-offset: 3px;
}


/* CONTROLS */

.controls {
    position: absolute;
    bottom: 18px;
    left: 4px;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* friends block */

.friends {
    width: 535px;
    height: 58px;
 
    background: linear-gradient(180deg, #72cfdb 30%, #107689 100%);
    border-radius: 16px;
    
    box-shadow: 0px -2px 0px 4px rgba(16, 118, 137, .5) inset,
                0px 0px 0px 2px #107689 inset,
                0px 0px 0px 4px #6ceef5 inset,
                0px 0px 0px 6px #107689 inset;
    
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.slider {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 8px;
    width: 14px;
}

.slider--prev {
    background-image: url('../img/arrow-prev.png');
}
.friends__list {
    display: flex;
    width: 476px;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style-type: none;
    
    overflow: hidden;
}

.friends__item {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin: 0 9px;

    background-image: url('../img/icon.png');
    border-radius: 6px;

    display: grid;
    place-items: center;

    transition: all .5s ease;
}
.friends__item img{
    width: 70%;
}

.slider--next {
    background-image: url('../img/arrow-next.png');
}

 /* CHAT */
.chat {
    width: 68px;
    height: 62px;

    background-image: url('../img/chat.png');

    transition: all .5s ease;
    cursor: pointer;
}
.chat:hover {
    background-image: url('../img/chat--hover.png');
    transition: all .5s ease;
}

/* UNIVER BUTTON */

.univer {
    width: 204px;
    height: 66px;
    
    position: relative;
    display: grid;
    place-items: center;
}

.univer__image {
    position: absolute;
    top:0;
    left: 0;
}
.univer__text { 
    z-index: 2;
    color: white;
}

/* EMAIL & STATS */

.icon {
    width: 66px;
    height: 61px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 12px;
}

.hovered {
    transition: .5s ease;
    cursor: pointer;
}
.hovered:hover {
    filter: contrast(170%);
    transform: scale(1.03);
}

/* modal window */

.modal {
    position: relative;
    border:none;
    background: transparent;

    transform: translateY(-100vh);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.modal.open {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.modal::backdrop {
    background: rgba(0, 0, 0, .5);
}

.statistic {
    width: 522px;
    height: 456px;
    background-image: radial-gradient(#faad5a, #c46f13);
    border-radius: 16px;
    border: 4px solid #875c2d;
    z-index: 6;

    display: grid;
}


/* заголовок рейтинг игровков */

.rating__heading {
    background-image: url('../img/rating.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 264px;
    height: 33px;

    position: absolute;
    display: grid;
    place-items: center;

    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px brown;;
    top: 0;
    left: 25%;
    z-index: 7;
}

/* таблица статистики */

.stats__table {
    width: 464px;
    height: 323px;
    background-color: #8c5a31;
    border-radius: 16px;
    margin-top: 90px;
    place-self: center;
    position: relative;
    
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

/* ТАБЫ  */
.tabs {
    position: absolute;
    top: 92px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;

    color: white;
    font-weight: 100;
}
.tab {
    width: 148px;
    height: 42px;
    background-image: url('../img/tab.png');

    display: grid;
    margin: 0 -12px;
    place-items: center;

    cursor: pointer;
}
.tab.active {
    background-image: url('../img/tab--active.png');
    z-index: 1;
}
.tabs__week {
}
.stats__general {
}


/* Список игроков */

.rating__title {
    width: 403px;
    height: 28px;
    background-image: url('../img/rating__title.png');
    background-repeat: no-repeat;
    background-position: center;
    

    
    margin: 32px auto 8px auto;
}

.rating__grid {
    display: grid;
    grid-template-columns: 56px 28px 202px 70px;
    color: white;
    align-items: center;
    gap: 16px;
}
.rating__number {
    margin-left: 18px;
}
.rating__friend {
    width: 28px;
    height: 28px;

}
.isFriend {
    background-image: url('../img/icon.png');
    background-size: contain;
}
.rating__list {
    padding-left: 0;
    margin: 0 auto;
    display: grid;
    gap: 8px;
    height: 238px;
    
}

.rating__list--scroll {
    overflow-y: scroll;
    margin-left: 30px;
    padding-right: 5px
}

.rating__item {
    width: 403px;
    height: 27px;
    background-image: url('../img/rating__players.png');    
}

.rating__item .rating__number {
    text-align: center;
}



.close__modal {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 28px;
    height: 28px;
    background-image: url('../img/closeBtn.png');
    background-position: center;
    border: none;
    border-radius: 5px;
}


